html {
  overflow: auto;
}

body {
  min-width: 414px;
}

.icon {
  margin: 0 !important;
}

.list-item {
  padding: 5px 0;
}

.list-item:not(:last-child) {
  border-bottom: 1px solid #e2e2e2a8;
}

.is-hoverable > ul > li:hover {
  background-color: #e0e0e0;
}

.is-center-text {
  text-align: center;
}

.hero-body-x {
  flex-grow: 1;
  flex-shrink: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.is-flex-basis-7 {
  flex-basis: 70%;
}

.is-flex-basis-3 {
  flex-basis: 30%;
}

@media screen and (min-width: 769px), print {
  .hero.is-medium .hero-body {
    padding: 9rem 1.5rem 2rem;
  }
}

.is-max-width-700 {
  max-width: 700px;
  margin: auto;
}

.is-max-width-50 {
  max-width: 50%;
  margin: auto;
}

.is-little-scare-x {
  padding: 1rem 0;
}

.is-little-scare-left {
  margin-left: 5px;
}

.is-little-scare-right {
  margin-right: 5px;
}

.is-no-wrap-text {
  white-space: nowrap;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slide {
  display: flex;
  flex-direction: row;
  transition: all 0.4s ease-out;
}

.view-port-2 {
  width: 200%;
}

.slide-item {
  width: 100%;
}

.scrollable {
  overflow: hidden;
}

.scrollbar-style::-webkit-scrollbar {
  width: 2px;
  background-color: #e2e2e2;
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background-color: #48c774;
}

.scrollable-y {
  overflow-y: scroll;
}

.scrollable-y-400 {
  overflow-y: scroll;
  max-height: 400px;
}
